/* Navigation */
#navbar {
  flex-direction: column;
}

#navbar ul li a {
  font-size: 1rem;
  padding: 0px 7px;
  padding-bottom: 8px;
}
#navbar .logsign {
  margin: auto;
  padding-bottom: 8px;
}
/* Home section */
#home {
  height: 370px;
  padding: 3px 28px;
}

#home::before {
  height: 480px;
}

#home p {
  font-size: 13px;
}

/* Services section  */
#services {
  flex-direction: column;
}

#services .box {
  padding: 14px;
  margin: 2px 0px;
  margin-bottom: 20px;
}
#aboutus {
  flex-direction: column;
}

#aboutus .teambox {
  padding: 14px;
  margin: 2px 0px;
  margin-bottom: 20px;
}

/* Contact us section */
#contact-box form {
  width: 80%;
}

.h-primary {
  font-size: 26px;
}
.btn {
  font-size: 13px;
  padding: 4px 8px;
}
#home h1 {
  margin-top: -96px;
}
