<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/loginasked.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ovo&display=swap"
      rel="stylesheet"
    />
    <title>Kissan Farm | Login</title>
    <link rel="icon" href="../static/logo.png" type="image/gif" sizes="16x16" />
  </head>

  <body>
    <div class="log">
      <img src="../static/logo.png" alt="" />
      <div class="text">LOGIN</div>
    </div>
    <div class="container">
      <div class="farmer">
        <p>As a Farmer</p>
        <h3 class="farm">
          Welcome to KissanFarm.This is the place from where you will get best
          price for your Produce. Our website is easy to use, fully functional
          and well maintained. We also provide Uphaar Points on every Sell using
          which you can Machinery, Pesticides etc.
        </h3>
        <br />
        <button class="btn">
          <a href="/Login"><b>Login</b></a>
        </button>
      </div>
      <div class="farmer1">
        <p>As a Vendor</p>
        <h3 class="farm1">
          Welcome to KissanFarm. This is the place where you will get fruits and
          vegetables at a very less price at your doorstep. Our website is easy
          to use, fully functional and well maintained. Our Fruits and
          Vegetables are Fresh, without Stickers and Chemicals.
        </h3>
        <br />
        <button class="btn1">
          <a href="/Customerlogin"><b>Login</b></a>
        </button>
      </div>
    </div>
    <br />
    <br />
    <br />
    <footer style="position: fixed; bottom: 0; width: 100%">
      <div class="center">
        Copyright &copy; www.kissanFarm.com. All rights reserved!
      </div>
    </footer>
  </body>
</html>
