<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uphaar | KissanFarm</title>
    <link rel="icon" href="../static/logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../static/css1/style.css" />
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="../static/css1/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
   
  </head>
  <body style="background-color: rgb(248, 226, 190);">

    <nav id="navbar">
      <div id="logo">
          <img src="../static/logo.png" >
      </div>
      <ul>
          <li style="cursor:pointer" class="item"><a id="hom">Home</a></li>
          <li style="cursor:pointer" class="item"><a id="serv">Services</a></li>

          <li style="cursor:pointer" class="item"><a id="abo"  style="width:104px">About us</a></li>
          <li style="cursor:pointer" class="item"><a id="con"  style="width:119px">Contact Us</a></li>
          <li class="item"><a href="/farmerBuy">Buy</a></li>
          <li class="item"><a href="/Farmersell">Sell</a></li>
      </ul>
      <div class="cart" style="display: flex;width: 55%;justify-content: flex-end; flex-wrap: wrap;">
          <a href="#cart"><img src="/static/img1/cart.png" style="width: 40px; height: 30px; "></a>
          <div class="dropdown">
              <button class="dropbtn item" >Hello {{nm}}
                  <i class="fa fa-caret-down item" style="color: white;"></i>
              </button>
              <div class="dropdown-content">
                <a href="/Farmerprofile">Profile</a>
                <a href="/farmerlogout">Logout</a>
              </div>
          </div>
      </div>
  </nav>


    <div style="margin-top: 40px;">
  
     <div id="google_translate_element"></div> 

  <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script> 
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <p style="text-align: center; font-size: 50px;">Your Points: <span style="color:red;">5000<span style="font-size: 35px;">&#9889;</span></span></p>
      <div class="row">

       


          <div class="card shop-item" style=" background-color: white;  ">
            <div class="shop-item-details">
              <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">11000<span style="font-size: 25px;">&#9889;</span></span></p>
              <img class="shop-item-image" src="../static/img1/waterpump.png" style="width: 350px; height: 350px;" >
              <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">D10</h2>
                <h3 style="text-align: center;font-weight: bold;">kW (1.0 HP)    MHPBDB1X00</h3>         
               <button class="shop-item-button addtocarthover" >Add to Cart</button>  
            </div>
            
            </div>
  
          <div class="card shop-item" style=" background-color: white;  ">
            <div class="shop-item-details">
              <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">850<span style="font-size: 25px;">&#9889;</span></span></p>
              <img class="shop-item-image" src="../static/img1/spade.jpg" style="width: 350px; height: 350px;" >
              <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">TADSO-LID 202</h2>
                <h3 style="text-align: center;font-weight: bold;">Stainless Steel Spade for Gardening</h3>         
               <button class="shop-item-button addtocarthover" >Add to Cart</button>  
            </div>
            
            </div>

            <div class="card shop-item" style=" background-color: white;  ">
              <div class="shop-item-details">
                <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">12000<span style="font-size: 25px;">&#9889;</span></span></p>
                <img class="shop-item-image" src="../static/img1/cultivator.jpg" style="width: 350px; height: 350px;" >
                <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">Mahindra 9 Tynes Cultivator</h2>
                  <h3 style="text-align: center;font-weight: bold;">1860mm</h3>         
                 <button class="shop-item-button addtocarthover" >Add to Cart</button>  
              </div>
              
              </div>


      </div>
  
  
  
      <div class="row">


        <div class="card shop-item" style=" background-color: white; ">
          <div class="shop-item-details">
            <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">11000<span style="font-size: 25px;">&#9889;</span></span></p>
            <img class="shop-item-image" src="../static/img1/sprayer.jpg" style="width: 350px; height: 350px;" ></img>
            <h3>&emsp;</h3>    
            <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">Hymax Knapsack 16 LTR</h2>
              <h3 style="text-align: center;font-weight: bold;">Agriculture Sprayer for Gardening</h3>         
             <button class="shop-item-button addtocarthover" >Add to Cart</button>  
          </div>
          
          </div>

        <div class="card shop-item" style=" background-color: white; ">
          <div class="shop-item-details">
            <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">1080<span style="font-size: 25px;">&#9889;</span></span></p>
            <img class="shop-item-image" src="../static/img1/pickaxe.jpg" style="width: 350px; height: 350px;" ></img>
            <h3>&emsp;</h3>    
            <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">GT Gloptook</h2>
              <h3 style="text-align: center;font-weight: bold;">Pick Axe with Wooden Handle</h3>     
             
             <button class="shop-item-button addtocarthover" >Add to Cart</button>  
          </div>
          
          </div>

          <div class="card shop-item" style=" background-color: white;  ">
            <div class="shop-item-details">
              <p style="text-align: center; font-weight: bolder; font-size: 35px;margin-top: 15px; background-color: rgb(206, 205, 205);">Points:<span class="shop-item-price" style="color: red;">2500<span style="font-size: 25px;">&#9889;</span></span></p>
              <img class="shop-item-image" src="../static/img1/pipe.jpg" style="width: 350px; height: 350px;" ></img>
              <h2 style="text-align: center;  font-weight: bolder;" class="shop-item-title">Natraj Plastic</h2>
                <h3 style="text-align: center;font-weight: bold;">Agriculture Pipe (5 Inch, 220 ft, Transparent)</h3>         
               <button class="shop-item-button addtocarthover" >Add to Cart</button>  
            </div>
            
            </div>


      </div>
   
       
    </div>


    



<br>
<div style="width: auto;
margin-left: 6vw;
margin-right: 6vw;
border: 4px solid black;
margin-bottom: 8vw;
margin-top: 6vw;
background-color: white;">

  <section class="container content-section" id="cart">
    <h2 class="section-header" style="background-color:crimson; margin-bottom: 4vw;">YOUR CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">0<span style="font-size: 16px;">&#9889;</span></span>
    </div>
   <a  href= "/Checkout" style="text-decoration: none;">
    <button class="btn btn-primary " type="button" style="   display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;  margin-bottom: 3vw;
    margin-top: 2vw;" >BUY</button>
   </a> 
</section>
</div>
<footer>
  <div class="center">
      Copyright &copy; www.kissanFarm.com. All rights reserved!
  </div>
</footer>
 
        <script src="/static/script/script.js"></script>
  <script>
      document.getElementById("serv").onclick = function()
      {
          window.location.href = "/#services-container";
      }
      document.getElementById("hom").onclick = function()
      {
          window.location.href = "/#home";
      }
      document.getElementById("abo").onclick = function()
      {
          window.location.href = "/#aboutus-section";
      }
      document.getElementById("con").onclick = function()
      {
          window.location.href = "/#contact";
      }
      </script>
  </body>
</html>
